{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-10 masthead-text">
                <br> 
                <div class="row"> 
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="back-title">
                            <!-- Post title goes in these h1 tags -->
                            <h1 class="book-title">{{ book.title }}</h1>
                            <!-- Post author goes before the | the post's created date goes after -->
                            <p class="book-subtitle">{{ book.author }}</p>
                        </div>
                     </div>
                    <div class="col-md-1"></div>
                </div>
                    
                <br><br>
                <div class="row">
                    <div class="d-none d-md-block col-md-2 text-end">Pages:</div>
                    <div class="d-none d-md-block col-md-1"><span class="fiel_value">{{ book.pages }}</span></div>
                    <div class="d-none d-md-block col-md-2 text-end">Pub. year:</div>
                    <div class="d-none d-md-block col-md-1"><span class="fiel_value">{{ book.pub_year.year }}</span></div>
                    <div class="d-none d-md-block col-md-2 text-end">isbn:</div>
                    <div class="d-none d-md-block col-md-1"><span class="fiel_value">{{ book.isbn }}</span></div>
                </div>
                <br>
                <div class="row">
                    <div class="d-none d-md-block col-md-2 text-end">Language:</div>
                    <div class="d-none d-md-block col-md-1"><span class="fiel_value">{{ book.language }}</span></div>
                    <div class="d-none d-md-block col-md-2 text-end">Features:</div>
                    <div class="d-none d-md-block col-md-6 fiel_value"><span class="">{{ book.features | safe }}</span></div>
                </div>
                <br>
            </div>
            <div class="d-none d-md-block col-md-2">
                <!-- The featured image URL goes in the src attribute -->
                {% if "notimage" in book.featured_image.url %}
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" width= "180px" height="100%">>
                {% else %}
                <img src="{{ book.cover.url }}" width="auto" height="320px">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                {% if message_action %}
                <div class="alert alert-success" role="alert">
                    {{ message_action }}
                </div>
                {% endif %}
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ book.description | safe }}
                </p>
                <div class="row">
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>

                    <div class="col-2">
                    {% if " 0 (" in book.items_available_to_loan %}    
                    <span class="text-secondary"><i class="fa fa-book-open-reader"></i> <del>{{ book.items_available_to_loan }}</del></span>
                    {% else %}
                    <span class="text-secondary"><i class="fa fa-book"></i> {{ book.items_available_to_loan }}</span>
                    {% endif %}
                    </div>

                    {% if user.is_authenticated %}
                    <div class="col-3">
                        
                        {% if loans %}
                            {% for loan in loans %}
                                {% if loan.status == 1 %}
                                    <form method="post" class="form-inline">
                                    <input type="hidden" name="action" value="remove_reserved">
                                    <button class="btn btn-link book-link" type="submit"><i class="fa-solid fa-circle-minus"></i> Remove reserve</button>
                                    {% csrf_token %}
                                    </form>                 
                                {% else %}
                                    {% if loan.status == 2 %}
                                        <span class="text-secondary"><i class="fa-solid fa-circle-check"></i>
                                        Loaned book
                                        </span>
                                    {% else %}
                                        <form method="post" class="form-inline">
                                        <input type="hidden" name="action" value="add_reserved">
                                        <button class="btn btn-link book-link" type="submit"><i class="fa-solid fa-circle-plus"></i> Reserve the book</button>
                                        {% csrf_token %} 
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if book.items_available_to_loan != "0" %}
                                <form method="post" class="form-inline">
                                <input type="hidden" name="action" value="add_reserved">
                                <button class="btn btn-link book-link" type="submit"><i class="fa-solid fa-circle-plus"></i> Reserve the book</button>
                                {% csrf_token %} 
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.comment | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}